.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    padding: 10px 20px;
    background-color: #f2f2f2;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.logoLink {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
}

.logo {
    height: 50px;
    margin-right: 10px;
}

.footer {
    padding: 20px 0;
    background-color: #e2e2e2;
    text-align: center;
}

.footerLink {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.menuButton {
    margin-right: auto; /* Pushes the button to the left */
}


.headerTitle {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #242424;
}

.footerIcon {
    display: block;
    margin: 0 auto 4px; /* Center icon and add space below */
    font-size: 24px; /* Adjust icon size */
}

/* Styles for share and copy functionalities, if they are globally relevant */
.shareButtonContainer,
.copyButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 12px;
    gap: 4px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    cursor: pointer;
}

.shareButtonContainer:hover,
.copyButtonContainer:hover {
    background: #D1D1D1;
}

.shareButton,
.copyButton {
    color: #424242;
}

.shareButtonText,
.copyButtonText {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: #242424;
}

@media (max-width: 480px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .headerTitleContainer,
    .headerIcon {
        margin-left: 4px; /* Tightens up spacing on mobile */
    }

    .headerIcon {
        margin-bottom: 5px; /* Adds spacing for stacked layout */
    }
}
